.bg-page {
    background-image: url("/images/period_3/20_days_in_mariupol.jpg");
}

.pagetitle-credits,
.geninfo-imgcredits {
    color: var(--white);
}

.general-information {
    background-image: url("/images/period_3/no_other_land2.jpg");
}
