.futureperiod {
    background: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .futureperiod-label {
        font-size: 6em;
    }

    .futureperiod-numbers {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 2px;

        span {
            transition: all 250ms ease;
            opacity: 0;
        }
    }

    .futureperiod-text {
        font-size: 1.5em;
    }
}

.number-12 {
    font-size: 0.4em;
    font-weight: 100;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 1200ms;

    &:hover {
        font-size: 0.6em;
    }
}

.number-11 {
    font-size: 0.6em;
    font-weight: 100;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 1100ms;

    &:hover {
        font-size: 0.8em;
    }
}

.number-10 {
    font-size: 0.8em;
    font-weight: 100;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 1000ms;

    &:hover {
        font-size: 1.1em;
    }
}

.number-9 {
    font-size: 1.1em;
    font-weight: 100;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 900ms;

    &:hover {
        font-size: 1.4em;
    }
}

.number-8 {
    font-size: 1.4em;
    font-weight: 100;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 800ms;

    &:hover {
        font-size: 1.9em;
    }
}

.number-7 {
    font-size: 1.9em;
    font-weight: 200;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 700ms;

    &:hover {
        font-size: 2.5em;
    }
}

.number-6 {
    font-size: 2.5em;
    font-weight: 300;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 600ms;

    &:hover {
        font-size: 3.3em;
    }
}

.number-5 {
    font-size: 3.3em;
    font-weight: 400;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 500ms;

    &:hover {
        font-size: 4.4em;
    }
}

.number-4 {
    font-size: 4.4em;
    font-weight: 500;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 400ms;

    &:hover {
        font-size: 5.9em;
    }
}

.number-3 {
    font-size: 5.9em;
    font-weight: 600;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 300ms;

    &:hover {
        font-size: 7.9em;
    }
}

.number-2 {
    font-size: 7.9em;
    font-weight: 700;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 200ms;

    &:hover {
        font-size: 10.5em;
    }
}

.number-1 {
    font-size: 10.5em;
    font-weight: 800;
    animation: fadeIn 150ms ease-in-out forwards;
    animation-delay: 100ms;

    &:hover {
        font-size: 14em;
    }
}

.number-0 {
    font-size: 17em;
    font-weight: 900;
    animation: fadeIn 150ms ease-in-out forwards;

    &:hover {
        font-size: 18.7em;
    }
}
