{% extends "base.html" %}
{% block title %}Blok 6{% endblock %}
{% block extra_headers %}
    <link rel="stylesheet"
          href="/assets/styles/period_future.css" />
{% endblock %}
{% block content %}
    <div class="pageblock futureperiod">
        <span class="futureperiodperiod">Blok</span>
        <div class="futureperiodnumsdiv">
            <span class="number-12">6</span>
            <span class="number-11">6</span>
            <span class="number-10">6</span>
            <span class="number-9">6</span>
            <span class="number-8">6</span>
            <span class="number-7">6</span>
            <span class="number-6">6</span>
            <span class="number-5">6</span>
            <span class="number-4">6</span>
            <span class="number-3">6</span>
            <span class="number-2">6</span>
            <span class="number-1">6</span>
            <span class="number-0">6</span>
            <span class="number-1">6</span>
            <span class="number-2">6</span>
            <span class="number-3">6</span>
            <span class="number-4">6</span>
            <span class="number-5">6</span>
            <span class="number-6">6</span>
            <span class="number-7">6</span>
            <span class="number-8">6</span>
            <span class="number-9">6</span>
            <span class="number-10">6</span>
            <span class="number-11">6</span>
            <span class="number-12">6</span>
        </div>
        <span class="futureperiodtext">Deze pagina is nog niet beschikbaar. Kom later terug!</span>
    </div>
{% endblock %}
