{% extends "base.html" %}
{% block title %}Blok 2{% endblock %}
{% block extra_headers %}
    <link rel="stylesheet"
          href="/assets/styles/period_2.css" />
    <script src="/assets/scripts/period_2.js"></script>
{% endblock %}
{% block content %}
    <div class="pageblock pagetitle-big pagetitle-full bg-page">
        <h1>Visuele effecten</h1>
        <h2>Blok 2 - Film</h2>
        <div class="pagetitle-credits">
            <span class="pagetitle-credits-artwork"><em>Opnames van</em>The Mandalorian (2019 - heden)</span>
            <span class="pagetitle-credits-artist">O.a. Jon Favreau</span>
        </div>
    </div>
    <div class="pageblock general-information">
        <div class="geninfo-imgcredits">
            <span class="geninfo-artwork">Dune (2021)</span>
            <span class="geninfo-artist">O.a. Denis Villeneuve</span>
        </div>
        <div class="general-information-text">
            <h1>Algemene informatie</h1>
            <p>
                Dit blok was ik ingedeeld bij de discipline <strong>film</strong> met als thema <strong>visuele effecten</strong>. In dit blok onderzochten we hoe we visuele effecten in een film konden gebruiken.
                <br />
                Dit blok kreeg ik les van <strong>mw. Borst</strong>. In dit blok werkte ik samen met <strong>Quinten van Eck (4H3),</strong> <strong>Aleksander Sosnowski (4A1)</strong>, <strong>Raphael Estevao (4A1)</strong>, <strong>Ismail Abakri (4A1)</strong>, <strong>Kaan Çakir (4A1)</strong> en <strong>Harun Kapli (4A1)</strong>.
                <br />
                Tijdens de tweede les van dit blok volgden we de workshop <em><strong>Greenscreen, the FX movie</strong></em> over visuele effecten.
                <br>
                <br>
                Ik heb het tussenverslag als digitale interactieve infographic gemaakt, dus klik simpelweg op een van de <em>tiles</em> hieronder om meer te lezen over dat onderwerp.
            </p>
        </div>
    </div>
    <div id="gallery" class="pageblock">
        <div class="tile" id="tile1">
            <div class="tile-header">
                <h1 class="tile-title">Keuze en verwachtingen</h1>
                <span class="close-tile"><i class="fa-solid fa-xmark"></i></span>
            </div>
            <div class="tile-content textblock">
                <section>
                    <h2>Waarom ik deze discipline heb gekozen</h2>
                    <p>
                        Dit blok heb ik gekozen voor de discipline film. Mijn keuze werd gedreven door mijn interesse in visuele effecten (VFX), montage en filmproductie. Deze onderwerpen spreken mij aan, omdat ze creativiteit en techniek combineren. Omdat dit thema goed aansloot bij mijn huidige vaardigheden en kennis, werd ik gemotiveerd om mezelf verder te ontwikkelen op dit gebied. Ook sprak de workshop mij aan, want ik vind greenscreens en de effecten die hiermee gemaakt kunnen worden, vooral op technisch gebied, interessant. Ook vind ik een interactieve workshop waarbij je zelf aan de slag gaat leuker dan een museumrondleiding, een voorstelling of een concert.
                    </p>
                </section>
                <section>
                    <h2>Mijn verwachtingen</h2>
                    <p>
                        Mijn verwachtingen voor dit blok waren dat ik nieuwe technieken zou leren, zoals het werken met greenscreens en het toepassen van visuele effecten in montageprogramma's. Ik hoopte een film te maken waarin ik mijn vaardigheden en kennis kon toepassen om een professioneel en creatief eindproduct te realiseren. Naast technische vaardigheden wilde ik meer leren over het productieproces van een film, zoals het verdelen van rollen en de invloed van samenwerking binnen een team. Ik verwachtte ook inzicht te krijgen in hoe verschillende rollen binnen de filmwereld bijdragen aan het eindresultaat.
                    </p>
                </section>
            </div>
        </div>
        <div class="tile" id="tile2">
            <div class="tile-header">
                <h1 class="tile-title">Les 1</h1>
                <span class="close-tile"><i class="fa-solid fa-xmark"></i></span>
            </div>
            <div class="tile-content textblock">
                <section>
                    <h2>Tijdens de les</h2>
                    <p>
                        Tijdens de eerste les keken we een aantal fragmenten uit films met veel VFX. We ontdekten hoe de VFX en geluidseffecten (SFX) bijdragen aan het vertellen van het verhaal en het creëren van een bepaalde sfeer. Daarna hebben we groepjes gevormd en onze taken verdeeld. We hebben vrijwel direct de taken verdeeld. Dit deden we vooral op basis van de bestaande vaardigheden van iedereen. Ik heb de taken visuele effecten, montage en camera gekregen. De taak visuele effecten deelde ik met Quinten.
                    </p>
                </section>
                <section>
                    <h2>Taken</h2>
                    <p>
                        De taken hebben we eerst gezamenlijk in hoofdlijnen uitgewerkt en vervolgens in detail. Vervolgens is iedereen binnen zijn taak aan de slag gegaan. De communicatie tussen de verschillende taken was goed, waardoor er een goede basis voor ons eindproduct ontstond. Harun en Kaan begonnen met het eerste concept voor het script; Aleksander schetste een eerste versie van het storyboard; Quinten en ik dachten na over de visuele effecten die nodig zouden zijn en Raphael en Ismail werkten aan ideeën voor props.
                        <br />
                        De taakverdeling zorgde ervoor dat iedereen zich kon focussen op zijn eigen sterke punten, waardoor we erg efficiënt konden werken.
                    </p>
                </section>
                <section>
                    <h2>Taakverdeling</h2>
                    <ul>
                        <li>
                            Ismail Abakri
                            <ul>
                                <li>Props maken</li>
                                <li>Acteren (indien nodig)</li>
                            </ul>
                        </li>
                        <li>
                            Gijs ten Berg
                            <ul>
                                <li>Groepsverslag maken</li>
                                <li>Visuele effecten</li>
                                <li>Montage</li>
                                <li>Camera</li>
                            </ul>
                        </li>
                        <li>
                            Kaan Çakir
                            <ul>
                                <li>Acteren</li>
                                <li>Script schrijven</li>
                            </ul>
                        </li>
                        <li>
                            Quinten van Eck
                            <ul>
                                <li>Verslag maken</li>
                                <li>Geluidseffecten en muziek</li>
                                <li>Montage</li>
                                <li>Camera</li>
                            </ul>
                        </li>
                        <li>
                            Raphael Estevao
                            <ul>
                                <li>Props maken</li>
                                <li>Acteren</li>
                            </ul>
                        </li>
                        <li>
                            Harun Kapli
                            <ul>
                                <li>Acteren</li>
                                <li>Script schrijven</li>
                            </ul>
                        </li>
                        <li>
                            Aleksander Sosnowski
                            <ul>
                                <li>Storyboard maken</li>
                                <li>Acteren (indien nodig)</li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="tile" id="tile3">
            <div class="tile-header">
                <h1 class="tile-title">Les 2</h1>
                <span class="close-tile"><i class="fa-solid fa-xmark"></i></span>
            </div>
            <div class="tile-content textblock">
                <section>
                    <h2>Tijdens de les</h2>
                    <p>
                        De activiteit van dit blok was een workshop visuele effecten. Deze volgde ik tijdens de tweede les. Hier leerde ik over het gebruik van greenscreens, de rol van audio-effecten en andere tips rondom de productie van een film. De workshop was erg praktisch en gaf me veel inzicht in hoe we deze technieken zelf konden toepassen. Tijdens de workshop hebben we zelf gefilmd voor een greenscreen. Deze beelden hebben we ook verwerkt in onze film. Tijdens het maken van de opnames bij het greenscreen kregen we ondersteuning van onze eigen docent en de workshopdocent. Het was fijn om wat we geleerd hadden direct in de praktijk te kunnen brengen.
                    </p>
                    <div class="img-collage">
                        <img src="/images/period_2/filming-greenscreen.jpg"
                             class="img-vert"
                             alt="Opnames voor een groen scherm" />
                    </div>
                </section>
            </div>
        </div>
        <div class="tile" id="tile4">
            <div class="tile-header">
                <h1 class="tile-title">Les 3</h1>
                <span class="close-tile"><i class="fa-solid fa-xmark"></i></span>
            </div>
            <div class="tile-content textblock">
                <section>
                    <h2>Tijdens de les & taakverdeling</h2>
                    <p>
                        Tijdens de derde les gingen we verder met het filmen van de scènes. Dit vond plaats op twee verschillende locaties, zowel binnen als buiten. De taken werden zorgvuldig verdeeld: Quinten en ik bedienden de camera, Raphael en Kaan speelden de hoofdrollen en Aleksander en Ismail ondersteunden met het regelen van props en het begeleiden van de opnames, zodat eventuele problemen direct opgelost konden worden. Dankzij deze samenwerking konden we snel en efficiënt filmen zonder te veel onderbrekingen.
                    </p>
                    <div class="img-collage">
                        <img src="/images/period_2/filming-inside.jpg"
                             alt="Opnames in een gebouw" />
                        <img src="/images/period_2/storyboard.jpg"
                             alt="Maken van een storyboard" />
                        <img src="/images/period_2/filming-outside.jpg"
                             alt="Opnames op straat" />
                    </div>
                </section>
                <section>
                    <h2>Mijn taken & evaluatie</h2>
                    <p>
                        Ik filmde samen met Raphael en Aleksander de scènes van Sam (gespeeld door Raphael) in lokaal 1.05. Hoewel deze scènes uiteindelijk niet gebruikt zijn, omdat het geluid niet goed was, was het toch een leerzame ervaring. Het gaf me meer inzicht in het belang van de coördinatie tussen de montage en de opnames van de beelden.
                    </p>
                </section>
            </div>
        </div>
        <div class="tile" id="tile5">
            <div class="tile-header">
                <h1 class="tile-title">Les 4 & montage</h1>
                <span class="close-tile"><i class="fa-solid fa-xmark"></i></span>
            </div>
            <div class="tile-content textblock">
                <section>
                    <h2>Tijdens de les</h2>
                    <p>
                        De vierde les hebben we de laatste opnames gemaakt voor onze film. Tijdens deze opnames hebben we extra aandacht besteed aan de eindmontage en de perspectieven. Ook hebben we een aantal scènes opnieuw gefilmd, omdat ze niet goed pasten bij de rest van de opnames of omdat de continuïteit niet klopte.
                    </p>
                </section>
                <section>
                    <h2>Montage</h2>
                    <p>
                        Ik heb samen met Quinten de film gemonteerd. Dit montageproces verliep in meerdere fasen: direct na de vierde les hebben we samen een eerste ruwe versie in elkaar gezet. Daarna hebben we nog een aantal keren los van elkaar aan de film gewerkt, waarbij we specifieke taken verdeelden. Quinten hield zich bezig met het toepassen van visuele effecten en geluidseffecten en ik concentreerde me op de algehele structuur.
                        <br />
                        Ik beheerde de hoofdtijdlijn van het project en zorgde ervoor dat de verschillende lagen van beeld en geluid goed op elkaar aansloten. Ik ordende het ruwe beeldmateriaal en bepaalde de structuur van het beeldmateriaal, de visuele effecten, de geluidseffecten en de muziek. Ook was ik verantwoordelijk voor de gespreksscènes en de explosiescène. Quinten paste VFX en SFX toe op de losse clips, waarna ik deze clips weer toepaste op de hoofdtijdlijn en controleerde op eventuele foutjes of inconsistenties. Samen werkten we stapsgewijs naar een eindproduct dat zowel technisch als creatief sterk in elkaar zit.
                        <br />
                        We hebben tijdens de montage de feedback van de rest van de groep verwerkt in het eindproduct. Zo kregen we de opmerking dat de gesprekken niet altijd even goed te horen waren, waarna we ondertiteling hebben toegevoegd.
                    </p>
                    <div class="img-collage">
                        <img src="/images/period_2/edit1.jpg" alt="Screenshot van montage" />
                        <img src="/images/period_2/edit2.jpg" alt="Screenshot van montage" />
                        <img src="/images/period_2/edit3.jpg" alt="Screenshot van montage" />
                        <img src="/images/period_2/edit4.jpg" alt="Screenshot van montage" />
                    </div>
                    <a href="https://drive.google.com/file/d/1STVy56_YIqoaf6ugszRIrdaDnYq8TmA-/"
                       target="_blank"
                       class="button bg-white">Bekijk de timelapse van de montage <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </section>
            </div>
        </div>
        <div class="tile" id="tile6">
            <div class="tile-header">
                <h1 class="tile-title">Ontdekt, gemaakt en geleerd</h1>
                <span class="close-tile"><i class="fa-solid fa-xmark"></i></span>
            </div>
            <div class="tile-content textblock">
                <section>
                    <h2>Ontdekt</h2>
                    <p>
                        Dit blok heeft mij veel geleerd over technieken binnen de filmwereld. Ik heb veel nieuwe vaardigheden ontwikkeld, zoals het werken met een greenscreen en het werken met SFX. Dankzij de workshop begrijp ik hoe je beelden met verschillende achtergronden kunt combineren en hoe je deze effecten effectief kunt toepassen in montageprogramma's. Daarnaast heb ik meer inzicht gekregen in het gehele productieproces van een film, vooral wat betreft de verdeling van rollen en hoe elke bijdrage een belangrijke schakel vormt in het eindresultaat.
                    </p>
                </section>
                <section>
                    <h2>Gemaakt</h2>
                    <p>
                        Het monteren van de film was een bijzonder leerzaam proces. Ik had al wel eens wat korte video's gemonteerd, maar nu kreeg ik de kans om dieper in het monteren van beelden te duiken: het opbouwen van scènes, het toevoegen van geluidseffecten en het creëren van spanning.
                    </p>
                    <a href="https://drive.google.com/file/d/1ajhbHvM3fMH84C3BolTwUlfpI-ypZYHU/"
                       target="_blank"
                       class="button button-standard">Bekijk de film <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </section>
                <section>
                    <h2>Geleerd</h2>
                    <p>
                        Dit was voor mij een waardevolle ervaring die mijn technische vaardigheden aanzienlijk heeft verbeterd. Ik heb bijvoorbeeld geleerd hoe je een mask toepast op een greenscreen, en hoe je dit mask over een beweging moet gebruiken. Ook heb ik geleerd hoe ik beter kan samenwerken en communiceren met anderen, aangezien het maken van onze film echt een groepsproces was. Iedereen moest op elkaar kunnen vertrouwen, en de taken moesten goed verdeeld worden om tot het beste resultaat te komen. Hierbij is het geven en verwerken van feedback erg belangrijk. De ondertiteling in de film was bijvoorbeeld een idee dat ontstond door feedback. Feedback is dus belangrijk om ons eindproduct te verbeteren.
                    </p>
                </section>
            </div>
        </div>
        <div class="tile" id="tile7">
            <div class="tile-header">
                <h1 class="tile-title">Vorm, inhoud & materiaal</h1>
                <span class="close-tile"><i class="fa-solid fa-xmark"></i></span>
            </div>
            <div class="tile-content textblock">
                <section>
                    <h2>Vorm</h2>
                    <p>
                        Speciale effecten beïnvloeden zowel de vorm als het uiterlijk van een film; je film ziet er anders uit. Ik neem als voorbeeld onze eigen film. Wat we met greenscreen en animaties konden creëren, had veel invloed op hoe de scènes eruitzagen en hoe de spanning werd opgebouwd. Vooral de explosie in onze eigen film was een goed voorbeeld van hoe de visuele effecten de vorm bepaalden en een dramatisch effect toevoegden aan het verhaal. Zonder effecten is dit een persoon die weg wordt getrokken door iemand anders voor een groen doek, maar met effecten wordt dit een slachtoffer van een enorme explosie bij een school. De vorm veranderde dus van een eenvoudige beweging naar een intens visueel spektakel.
                    </p>
                </section>
                <section>
                    <h2>Inhoud</h2>
                    <p>
                        Ook de inhoud van de scène veranderde door het gebruik van visuele effecten. Waar zonder effecten amper sprake was van een verhaal, werd er door de explosie een dramatische gebeurtenis toegevoegd: een slachtoffer van een aanval. Het gebruik van visuele effecten maakte het verhaal spannender en gaf de scène meer impact. Zonder de explosie en de digitale effecten zou het verhaal minder intens zijn geweest, en daardoor werd de boodschap van gevaar en urgentie veel duidelijker.
                    </p>
                </section>
                <section>
                    <h2>Materiaal</h2>
                    <p>
                        Wat me ook opviel, is dat het materiaal waarmee we werkten een grote rol speelt in het hele proces. De combinatie van fysieke props, zoals de auto, en digitale effecten zorgde voor de juiste sfeer en hielp de inhoud van het verhaal te versterken. Door te werken met specifieke technieken en materialen konden we de film visueel aantrekkelijker maken en tegelijkertijd de boodschap beter overbrengen. De visuele effecten zorgen niet alleen voor spanning, maar versterken ook de emoties bij een situatie, waardoor de kijker dieper wordt betrokken bij de gebeurtenissen.
                    </p>
                </section>
            </div>
        </div>
        <div class="tile" id="tile8">
            <div class="tile-header">
                <h1 class="tile-title">Terugblik & reflectie</h1>
                <span class="close-tile"><i class="fa-solid fa-xmark"></i></span>
            </div>
            <div class="tile-content textblock">
                <section>
                    <h2>Terugblik</h2>
                    <p>
                        Als ik terugkijk op dit project, ben ik tevreden met wat we als team hebben bereikt. De film heeft niet alleen voldaan aan de verwachtingen, maar heeft deze op veel vlakken overtroffen. Natuurlijk waren er momenten waarop de samenwerking moeilijk verliep, bijvoorbeeld tijdens het maken van het script. Desondanks vonden we snel oplossingen en gingen we flexibel om met de omstandigheden. Onze film is een project waar we allemaal trots op kunnen zijn, en iedereen heeft een belangrijke bijdrage geleverd aan het succes ervan. Dit project is voor mij een waardevolle ervaring geweest waar ik tevreden op terugkijk.
                    </p>
                </section>
                <section>
                    <h2>Reflectie op de verwachtingen</h2>
                    <p>
                        Dit project heeft mijn verwachtingen overtroffen, vooral op technisch vlak. Ik heb enorm veel geleerd over filmproductie, montage en visuele effecten, en ik heb mijn filmvaardigheden aanzienlijk verbeterd. Ik vond het monteren en het toepassen van VFX erg leuk, omdat het iets is waar ik al mee bekend was, terwijl ik toch makkelijk nieuwe vaardigheden kon leren. Bovendien heeft het project me geholpen om mijn communicatie- en samenwerkingsvaardigheden te versterken. Een concreet voorbeeld hiervan is hoe ik samen met Quinten de montage van de film uitvoerde, terwijl Kaan en Harun verantwoordelijk waren voor het script. Dit vereiste een goede samenwerking en coördinatie, wat goed is gelukt. Ik heb niet alleen nieuwe kennis opgedaan, maar ben ook gegroeid als onderdeel van een team.
                        <br />
                        Kortom: ik heb veel geleerd over en geoefend met <strong>visuele effecten</strong>.
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="pageblock seperator bg-fancy fancy1"></div>
    <div class="pageblock textblock">
        <section>
            <h1>Overzicht linkjes, eigen werken enz.</h1>
            <ul>
                <li>
                    <a href="https://drive.google.com/file/d/1ajhbHvM3fMH84C3BolTwUlfpI-ypZYHU/"
                       target="_blank">Film (eindproduct)</a>
                </li>
                <li>
                    <a href="https://drive.google.com/file/d/1STVy56_YIqoaf6ugszRIrdaDnYq8TmA-/"
                       target="_blank">Timelapse van de montage</a>
                </li>
                <li>
                    <a href="https://docs.google.com/document/u/1/d/1-_VkF2UsSWfU0v_Kdsk5ufW2UM708aZ8zDM8UHOjNgw/"
                       target="_blank">Script</a>
                </li>
                <li>
                    <a href="https://docs.google.com/document/d/11w0DCYHMFEHrlOkXiDjDi-MVOfTUBWROihmsKq6wUOk/"
                       target="_blank">Groepsverslag</a>
                </li>
                <li>
                    <a href="https://docs.google.com/document/d/1wMongF54caC2p7MuE7Is1qY5vTpVVz2rmW1RWYKJZKA"
                       target="_blank">Mijn individuele reflectie</a>
                </li>
            </ul>
        </section>
    </div>
{% endblock %}
