{% extends "base.html" %}
{% block title %}Blok 5{% endblock %}
{% block extra_headers %}
    <link rel="stylesheet"
          href="/assets/styles/period_future.css" />
{% endblock %}
{% block content %}
    <div class="pageblock futureperiod">
        <span class="futureperiodperiod">Blok</span>
        <div class="futureperiodnumsdiv">
            <span class="number-12">5</span>
            <span class="number-11">5</span>
            <span class="number-10">5</span>
            <span class="number-9">5</span>
            <span class="number-8">5</span>
            <span class="number-7">5</span>
            <span class="number-6">5</span>
            <span class="number-5">5</span>
            <span class="number-4">5</span>
            <span class="number-3">5</span>
            <span class="number-2">5</span>
            <span class="number-1">5</span>
            <span class="number-0">5</span>
            <span class="number-1">5</span>
            <span class="number-2">5</span>
            <span class="number-3">5</span>
            <span class="number-4">5</span>
            <span class="number-5">5</span>
            <span class="number-6">5</span>
            <span class="number-7">5</span>
            <span class="number-8">5</span>
            <span class="number-9">5</span>
            <span class="number-10">5</span>
            <span class="number-11">5</span>
            <span class="number-12">5</span>
        </div>
        <span class="futureperiodtext">Deze pagina is nog niet beschikbaar. Kom later terug!</span>
    </div>
{% endblock %}
