{% extends "base.html" %}
{% block title %}Eigen initiatieven{% endblock %}
{% block extra_headers %}
    <link rel="stylesheet"
          href="/assets/styles/own_initiatives.css" />
{% endblock %}
{% block content %}
    <div class="pageblock pagetitle-big bg-page">
        <h1>Eigen initiatieven</h1>
        <div class="pagetitle-credits">
            <span class="pagetitle-credits-artwork">Station Rotterdam Centraal</span>
            <span class="pagetitle-credits-artist">Benthem Crouwel Architects, Meyer en Van Schooten, West 8</span>
            <span class="pagetitle-credits-artist">Foto van Mitchell Nijman</span>
        </div>
    </div>
    <div class="pageblock bcbg-out bg-green" id="introduction">
        <div class="bcbg-in bg-white center">
            <h1>Welkom!</h1>
            <p class="center">
                Op deze pagina vindt u alle eigen initiatieven die ik dit jaar heb gedaan met de bijbehorende verslagen.
            </p>
        </div>
    </div>
    <div class="pageblock bcbg-out bg-yellow">
        <div class="bcbg-in bg-white columns own-initiatives-item flex-gap">
            <div class="own-initiatives-info center">
                <h1>Eigen initiatief 1</h1>
                <h2 class="activity-type">Beeldend</h2>
                <h2 class="activity-name">Zoeken naar zingeving</h2>
                <h3 class="activity-loc">Kröller-Müller Museum (Otterlo)</h3>
                <h3 class="activity-date">Bezocht op 30 oktober 2024</h3>
                <a href="/assets/documents/ei1-beeldend-zoekennaarzingeving.pdf"
                   class="button button-standard"
                   target="_blank">Bekijk verslag <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
            <div class="artwork-basic center">
                <img src="/images/own_initiatives/olijfgaard.jpg"
                     alt="Olijfgaard (1889) - Vincent van Gogh" />
                <span class="artbasic-artwork">Olijfgaard (1889)</span>
                <span class="artbasic-artist">Vincent van Gogh</span>
            </div>
        </div>
    </div>
    <div class="pageblock bcbg-out bg-red">
        <div class="bcbg-in bg-white columns own-initiatives-item flex-gap">
            <div class="own-initiatives-info center">
                <h1>Eigen initiatief 2</h1>
                <h2 class="activity-type">Architectuur</h2>
                <h2 class="activity-name">Depot Boijmans Van Beuningen</h2>
                <h3 class="activity-loc">Museumpark (Rotterdam)</h3>
                <h3 class="activity-date">Bezocht op 28 februari 2025</h3>
                <a href="/assets/documents/ei2-architectuur-depot.pdf"
                   class="button button-standard"
                   target="_blank">Bekijk verslag <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
            <div class="artwork-basic center">
                <img src="/images/own_initiatives/depot_boijmans_van_beuningen.jpg"
                     alt="Depot Boijmans van Beuningen - MVRDV" />
                <span class="artbasic-artwork">Depot Boijmans van Beuningen</span>
                <span class="artbasic-artist">MVRDV</span>
            </div>
        </div>
    </div>
{% endblock %}
