{% extends "base.html" %}

{% block title -%}
    Home
{%- endblock title %}

{% block extra_headers %}
    <link rel="stylesheet" href="/assets/styles/home.css">
{% endblock extra_headers %}

{% block content %}
    <section class="pageblock hero-section">
        <div class="hero-content">
            <h1>Gijs ten Berg</h1>
            <p>CKV-website</p>
        </div>
        <canvas class="hero-canvas" aria-hidden="true"></canvas>
    </section>

    <section class="pageblock bcbg-out bg-yellow introduction-section">
        <div class="bcbg-in bg-white center">
            <h2>Welkom!</h2>
            <p>
                Deze website is mijn digitale CKV-dossier voor de schooljaren 2024-2025 en 2025-2026.
                Hieronder vindt u een kort overzicht van de inhoud van elke pagina.
                U kunt uiteraard ook het menu gebruiken om tussen de pagina's te navigeren.
                Veel leesplezier!
            </p>
        </div>
    </section>

    <section class="pageblock pages-list" aria-label="Overzicht van alle pagina's">
        <article class="page-card">
            <div class="card-content">
                <h3 class="card-title">Blok 1</h3>
                <p class="card-subtitle">Beeldend</p>
                <p class="card-description">Het onzichtbare zichtbaar maken</p>
                <a href="/blok-1" class="button bg-white">Naar pagina <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <figure class="card-artwork artwork-basic">
                <img src="/images/common/kryptos.jpg" alt="Kryptos (1990) - Jim Sanborn" loading="lazy">
                <figcaption>
                    <span class="artwork-title artbasic-artwork">Kryptos (1990)</span>
                    <span class="artwork-artist artbasic-artist">Jim Sanborn</span>
                </figcaption>
            </figure>
        </article>
        <article class="page-card">
            <div class="card-content">
                <h3 class="card-title">Blok 2</h3>
                <p class="card-subtitle">Film</p>
                <p class="card-description">Speciale effecten</p>
                <a href="/blok-2" class="button bg-white">Naar pagina <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <figure class="card-artwork artwork-basic">
                <img src="/images/common/interstellar.png" alt="Interstellar (2014) - O.a. Christopher Nolan" loading="lazy">
                <figcaption>
                    <span class="artwork-title artbasic-artwork">Interstellar (2014)</span>
                    <span class="artwork-artist artbasic-artist">O.a. Christopher Nolan</span>
                </figcaption>
            </figure>
        </article>
        <article class="page-card">
            <div class="card-content">
                <h3 class="card-title">Blok 3</h3>
                <p class="card-subtitle">Film</p>
                <p class="card-description">Jouw interpretatie</p>
                <a href="/blok-3" class="button bg-white">Naar pagina <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <figure class="card-artwork artwork-basic">
                <img src="/images/common/no_other_land1.jpg" alt="No Other Land (2024) - O.a. Basel Adra" loading="lazy">
                <figcaption>
                    <span class="artwork-title artbasic-artwork">No Other Land (2024)</span>
                    <span class="artwork-artist artbasic-artist">O.a. Basel Adra</span>
                </figcaption>
            </figure>
        </article>
        <article class="page-card">
            <div class="card-content">
                <h3 class="card-title">Blok 4</h3>
                <p class="card-subtitle">Dans</p>
                <p class="card-description">Vechtkunst</p>
                <a href="/blok-4" class="button bg-white">Naar pagina <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <figure class="card-artwork artwork-basic">
                <img src="/images/common/sutra1.jpg" alt="Sutra (2008) - O.a. Sidi Larbi Cherkaoui" loading="lazy">
                <figcaption>
                    <span class="artwork-title artbasic-artwork">Sutra (2008)</span>
                    <span class="artwork-artist artbasic-artist">O.a. Sidi Larbi Cherkaoui</span>
                </figcaption>
            </figure>
        </article>
        <article class="page-card">
            <div class="card-content">
                <h3 class="card-title">Introductielessen</h3>
                <p class="card-description">Liefde</p>
                <a href="/introductielessen" class="button bg-white">Naar pagina <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <figure class="card-artwork artwork-basic">
                <img src="/images/intro/the_lovers_ii.jpg" alt="The Lovers II (1928) - René Magritte" loading="lazy">
                <figcaption>
                    <span class="artwork-title artbasic-artwork">The Lovers II (1928)</span>
                    <span class="artwork-artist artbasic-artist">René Magritte</span>
                </figcaption>
            </figure>
        </article>
        <article class="page-card">
            <div class="card-content">
                <h3 class="card-title">Over mij</h3>
                <a href="/over-mij" class="button bg-white">Naar pagina <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </article>
        <article class="page-card">
            <div class="card-content">
                <h3 class="card-title">Eigen initiatieven</h3>
                <a href="/eigen-initiatieven" class="button bg-white">Naar pagina <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </article>
    </section>

    <script type="module">
        import Spheres2Background from "https://cdn.jsdelivr.net/npm/threejs-components@0.0.8/build/backgrounds/spheres2.cdn.min.js";

        try {
            const bg = Spheres2Background(document.querySelector(".hero-canvas"), {
                count: 275,
                colors: [0xeaf2ef, 0x197bbd, 0x04a777],
                minSize: 0.7,
                maxSize: 1.2,
            });
        } catch (error) {
            console.error("Fout bij het laden van de achtergrond:", error);
            const heroSection = document.querySelector(".hero-section");
            heroSection.style.background = "url('https://picsum.photos/id/347/5000/4000') no-repeat center center fixed";
            heroSection.style.backgroundSize = "cover";
        }
    </script>
{% endblock content %}
