{% extends "base.html" %}
{% block title %}Over mij{% endblock %}
{% block extra_headers %}
    <style>
        #button-final-report {
            margin: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="pageblock pagetitle-small">Over mij</h1>
    <div class="pageblock columns">
        <div>
            <p>
                Hallo! Ik ben Gijs. Ik ben 15 jaar oud en ik zit dit jaar in klas 4A2. Ik kom uit Schiedam en heb een grote interesse in wetenschap. Vooral natuurkunde en scheikunde vind ik erg interessant.
                <br />
                <br />
                Daarnaast ben ik veel bezig met informatica en programmeren. Ik vind het leuk om dingen te maken met code, zoals <a href="https://github.com/Gijs6/CKVsite" target="_blank">deze website</a>.
            </p>
        </div>
        <div>
            <p>
                Kunst en cultuur spelen momenteel geen grote rol in mijn leven. Hoewel ik sommige kunstwerken mooi en inspirerend vind, voel ik niet direct de behoefte om me er verder in te verdiepen.
                <br />
                Ik vind momenteel vooral kunstwerken die een overlap hebben met andere interesses van mij interessant.
                <br />
                Hetzelfde geldt voor cultuur: ik weet hoe belangrijk het is voor onze maatschappij, maar voel me er op dit moment niet sterk mee verbonden.
                <br />
                <br />
                Dit komt waarschijnlijk doordat ik weinig tijd neem om actief kunst en cultuur te beleven. Toch ben ik benieuwd hoe het vak CKV mijn perspectief hierop zal beïnvloeden.
                <br />
                <br />
                Op dit moment spreekt grafische en beeldende kunst mij het meest aan. Theater en dans hebben minder mijn interesse.
                <br />
                <br />
                De introductielessen hebben deze voorkeur bevestigd. Tijdens de tweede les maakte ik kennis met de kunst van Keith Haring. Zijn stijl vind ik erg inspirerend. Ik hoop dat ik dit jaar meer kunstvormen zal ontdekken en waarderen.
            </p>
        </div>
    </div>
    <a href="/eindverslag"
       class="button button-standard"
       id="button-final-report">Naar het eindverslag <i class="fa-solid fa-arrow-right"></i></a>
{% endblock %}
