<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}{% endblock %}
        - CKV - Gijs ten Berg</title>
        <link rel="stylesheet" href="/assets/styles/base.css" />
        <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico" />
        <script src="https://kit.fontawesome.com/4a94c21782.js"
                crossorigin="anonymous"></script>
        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                {% macro menu_item(page, icon, label, url) %}
                    <a class="menu-item{% if active_page == page %} menu-item-active{% endif %}"
                       href="{{ url }}">
                        <i class="fa-solid fa-{{ icon }}"></i> <span class="menu-item-title">{{ label }}</span>
                    </a>
                {% endmacro %}
                {{ menu_item('home', 'house', 'Home', '/') }}
                {{ menu_item('over-mij', 'user', 'Over mij', '/over-mij') }}
                {{ menu_item('introductielessen', 'person-chalkboard', 'Introductielessen', '/introductielessen') }}
                {{ menu_item('eigen-initiatieven', 'building-columns', 'Eigen initiatieven', '/eigen-initiatieven') }}
                {{ menu_item('blok-1', '1', 'Blok 1', '/blok-1') }}
                {{ menu_item('blok-2', '2', 'Blok 2', '/blok-2') }}
                {{ menu_item('blok-3', '3', 'Blok 3', '/blok-3') }}
                {{ menu_item('blok-4', '4', 'Blok 4', '/blok-4') }}
            </nav>
            <div>
                <h1>Gijs ten Berg</h1>
                <h2>4A2</h2>
            </div>
        </header>
        <div id="scrollable">
            <main>
                {% block content %}{% endblock %}
            </main>
            <footer>
                <div id="footer-left">
                    <h1>CKV-website</h1>
                    <h1>Gijs ten Berg</h1>
                    <h2>4A2</h2>
                </div>
                <div id="footer-right">
                    <p>
                        Inhoud en code vallen onder het <strong>publieke domein</strong>
                    </p>
                    <p>
                        Gemaakt met <a href="https://github.com/pallets/jinja" target="_blank">Jinja</a>, gehost met <a href="https://github.com/dupunkto/lift" target="_blank">lift</a>
                    </p>
                    <p>
                        <a href="https://github.com/Gijs6/CKVsite" target="_blank">Broncode op GitHub</a>
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>
